.san{
    background-color: blue;
}
.Api__intro{
background: rgb(255, 255, 255);
}
.profile-p1{
    
    height: 100px;
    border-radius:50px;
    top: 0;
   float: right;
   padding-top: 45px;
}
.img-pro{
    align-items: flex-end;
    justify-content: flex-end;
}

.logo-l2{
    margin-left: 20px;
    margin-top: 56px;
    
}
.img-pro>h3{
    margin-left: 1100px;
    margin-top: 90px;
}
.card-info{
    display: flex;
    margin-left: 70px;
    box-shadow: 10px 10px 5px 12px rgb(107, 110, 110) ;
    width: 590px;
    padding-left: 10px;
    margin-top: 20px;
}

 
.checkbox{
    background-color: #CDE0FE;
}
.btn-ico{

    margin-top: 34px;
}
.img-ico{
    height: 19px;
}
.type{
    padding: 12px 12px;
    
}
.table-t2{
    padding: 10px 10px;
}
.card-t2{
    box-shadow: 10px 10px 5px 12px rgb(107, 110, 110) ;
    margin-left: 700px;
    width: 300px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.table-t3{
    padding-left: 30px;
}

