.information-ico{
    background-color: #CDE0FE ;
    margin-left: 30px;
    width: 400px;
}
.patient-info{
    display: inline-block;
    padding:10px 10px 10px 10px;
}
.information-ic{
    background-color: #CDE0FE ;
    margin-left: 30px;
    width: 400px;
}
.information-i{
    background-color: #CDE0FE ;
    margin-left: 30px;
    width: 400px;
}
.information{
    background-color: #CDE0FE ;
    margin-left: 30px;
    width: 400px;
}